# abi
abi/asm/*.S
abi/obj/*.o
abi/bin/*
# abi/objdump/*.txt

# hand-asm
hand-asm/bin/exe_*
# hand-asm/objdump/*.txt
hand-asm/asm2_O0.S

# codegen
codegen/bin/*
# codegen/objdump/*.txt

# riscv-bin
riscv-bin/**/*.o
riscv-bin/**/*.out
riscv-bin/**/*.out.bin
